# Vim swp files
*.swp

# Projecy build directories
build/*
unix_build/*
docs/build/

#Python
__pycache__/

# docs out files (i.e. outputted by .in versions)
docs/doxygen/Doxyfile
docs/sphinx/conf.py

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
